.common__section {
  background: linear-gradient(rgb(0, 13, 107, 0.6), rgb(0, 13, 107, 0.6)),
    url("https://imgs.search.brave.com/kjR0P_bGqaFT_t5yu6lt9QNjzRxFOJ5oYlUf1yVIVpM/rs:fit:841:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5n/ODFLSWhfQldQMmt4/SVhGVDk4cFVBSGFF/TCZwaWQ9QXBp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
